.card {
    margin: 12px;
    padding: 8px;

    background-color: bisque;
    
    border-radius: 4px;
    border: 1px solid gold;
}

.card>.beer-name {
    font-size: 1.3rem;
    font-weight:900;
    font-family: 'Poppins', sans-serif;

    margin-bottom: 8px;
    
}

.card>.beer-company {
    font-family: 'Poppins', sans-serif;
}

.card>.beer-type {
    font-family: 'Poppins', sans-serif;
}

.green {
    background-color: aqua;
    
}